{{- $publicIP := .Values.publicIP }}
{{- $trustedProxies := .Values.trustedProxies }}
{{- $sourceInterface := .Values.deployment.init.sourceInterface }}
{{- $dhcpInterfaceType := .Values.deployment.init.interfaceMode }}
{{- if .Values.deployment.daemonSet.enabled }}
apiVersion: apps/v1
kind: DaemonSet
{{- else }}
apiVersion: apps/v1
kind: Deployment
{{- end }}
metadata:
  labels:
    {{- include "tinkerbell.labels" . | nindent 4 }}
  name: {{ include "tinkerbell.fullname" . }}
  namespace: {{ include "tinkerbell.namespace" . }}
spec:
  {{- if not .Values.deployment.daemonSet.enabled }}
  replicas: {{ .Values.deployment.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "tinkerbell.selectorLabels" . | nindent 6 }}
      {{- with .Values.deployment.selector }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
  {{- if not .Values.deployment.daemonSet.enabled }}
  strategy:
    type: {{ .Values.deployment.strategy.type }}
  {{- end }}
  template:
    metadata:
      annotations:
        {{- with .Values.deployment.annotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app: {{ .Values.name }}
        {{- include "tinkerbell.selectorLabels" . | nindent 8 }}
        {{- with .Values.deployment.selector }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - name: tinkerbell
          image: {{ .Values.deployment.image }}:{{ coalesce .Values.deployment.imageTag .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.deployment.imagePullPolicy }}
          {{- range .Values.deployment.additionalArgs }}
          args:
            - {{ . }}
          {{- end }}
          {{- if .Values.createConfigmap }}
          envFrom:
          - configMapRef:
              name: {{ include "tinkerbell.fullname" . }}
          {{- end }}
          {{- if not (.Values.createConfigmap) }}
          env:
            {{- include "tinkerbell.generateEnvVars" .Values.deployment.envs | nindent 12 }}
          {{- end }}
          {{- /* FOR USE WITH hostNetwork: true (AUTO-CONFIGURATION) */ -}}
          {{- if .Values.deployment.hostNetwork -}}
          {{- if .Values.createConfigmap }}
          env:
          {{- end }}
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          {{- end }}
            {{- /* Additional environment variables */}}
            {{- with .Values.deployment.additionalEnvs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            {{- /* This is always enabled because /metrics and /healthcheck are always enabled */}}
            - containerPort: {{ .Values.deployment.envs.globals.httpPort }}
            {{- with .Values.service.ports.http }}
              name: {{ .name }}
              protocol: {{ .protocol }}
            {{- end }}
          {{- if .Values.deployment.envs.globals.enableSmee }}
            - containerPort: {{ .Values.deployment.envs.tftp.serverBindPort }}
            {{- with .Values.service.ports.tftp }}
              name: {{ .name }}
              protocol: {{ .protocol }}
            {{- end }}
            - containerPort: {{ .Values.deployment.envs.syslog.bindPort }}
            {{- with .Values.service.ports.syslog }}
              name: {{ .name }}
              protocol: {{ .protocol }}
            {{- end }}
            {{- with .Values.service.ports.dhcp }}
            - containerPort: {{ .port }}
              name: {{ .name }}
              protocol: {{ .protocol }}
            {{- end }}
          {{- end }}
          {{- if .Values.deployment.envs.globals.enableTinkServer }}
            - containerPort: {{ .Values.deployment.envs.tinkServer.bindPort }}
            {{- with .Values.service.ports.grpc }}
              name: {{ .name }}
              protocol: {{ .protocol }}
            {{- end }}
          {{- end }}
          {{- if .Values.deployment.envs.globals.enableSecondstar }}
            - containerPort: {{ .Values.deployment.envs.secondstar.port }}
            {{- with .Values.service.ports.ssh }}
              name: {{ .name }}
              protocol: {{ .protocol }}
            {{- end }}
          {{- end }}
          {{- if and .Values.deployment.envs.globals.tlsCertFile .Values.deployment.envs.globals.tlsKeyFile }}
            - containerPort: {{ .Values.deployment.envs.globals.httpsPort }}
            {{- with .Values.service.ports.https }}
              name: {{ .name }}
              protocol: {{ .protocol }}
            {{- end }}
          {{- end }}
          resources: {{ toYaml .Values.deployment.resources | nindent 12 }}
          {{- if and .Values.deployment.probes.liveness.enabled .Values.deployment.envs.globals.enableSmee }}
          livenessProbe:
            httpGet:
              path: {{ .Values.deployment.probes.liveness.httpGet.path }}
              port: {{ .Values.deployment.probes.liveness.httpGet.port }}
              scheme: {{ .Values.deployment.probes.liveness.httpGet.scheme }}
            initialDelaySeconds: {{ .Values.deployment.probes.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.deployment.probes.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.deployment.probes.liveness.timeoutSeconds }}
            failureThreshold: {{ .Values.deployment.probes.liveness.failureThreshold }}
            successThreshold: {{ .Values.deployment.probes.liveness.successThreshold }}
          {{- end }}
          {{- if and .Values.deployment.probes.readiness.enabled .Values.deployment.envs.globals.enableSmee }}
          readinessProbe:
            httpGet:
              path: {{ .Values.deployment.probes.readiness.httpGet.path }}
              port: {{ .Values.deployment.probes.readiness.httpGet.port }}
              scheme: {{ .Values.deployment.probes.readiness.httpGet.scheme }}
            initialDelaySeconds: {{ .Values.deployment.probes.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.deployment.probes.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.deployment.probes.readiness.timeoutSeconds }}
            failureThreshold: {{ .Values.deployment.probes.readiness.failureThreshold }}
            successThreshold: {{ .Values.deployment.probes.readiness.successThreshold }}
          {{- end }}
          {{- if and .Values.deployment.probes.startup.enabled .Values.deployment.envs.globals.enableSmee }}
          startupProbe:
            httpGet:
              path: {{ .Values.deployment.probes.startup.httpGet.path }}
              port: {{ .Values.deployment.probes.startup.httpGet.port }}
              scheme: {{ .Values.deployment.probes.startup.httpGet.scheme }}
            initialDelaySeconds: {{ .Values.deployment.probes.startup.initialDelaySeconds }}
            periodSeconds: {{ .Values.deployment.probes.startup.periodSeconds }}
            timeoutSeconds: {{ .Values.deployment.probes.startup.timeoutSeconds }}
            failureThreshold: {{ .Values.deployment.probes.startup.failureThreshold }}
            successThreshold: {{ .Values.deployment.probes.startup.successThreshold }}
          {{- end }}
          securityContext:
            {{- if or .Values.deployment.envs.dhcpInterface.enabled .Values.deployment.init.enabled }}
            privileged: true
            {{- end }}
            capabilities:
              add:
                - NET_RAW
                {{- if or .Values.deployment.envs.dhcpInterface.enabled (eq .Values.deployment.envs.dhcpInterface.type "ebpf") }}
                - NET_ADMIN
                {{- end }}
                {{- if eq .Values.deployment.envs.dhcpInterface.type "ebpf" }}
                - SYS_ADMIN
                - BPF
                {{- end }}
          {{- with .Values.deployment.volumeMounts }}
          volumeMounts:
          {{- toYaml . | nindent 10 }}
          {{- end }}
      hostNetwork: {{ .Values.deployment.hostNetwork }}
      serviceAccountName: {{ include "tinkerbell.serviceAccountName" . }}
      volumes:
      {{- if .Values.deployment.init.enabled }}
      - name: script
        configMap:
          name: host-interface-script
          defaultMode: 0500
      {{- end }}
      {{- with  .Values.deployment.volumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.deployment.init.enabled .Values.deployment.envs.dhcpInterface.enabled (eq .Values.deployment.envs.dhcpInterface.type "ebpf") }}
      hostPID: true
      {{- end }}
      {{- if .Values.deployment.init.enabled }}
      initContainers:
      - name: broadcast-interface
        image: {{ .Values.deployment.init.image }}
        command: ["/script/host_interface.sh", "-s", "{{ $sourceInterface }}", "-t", "{{ $dhcpInterfaceType }}"]
        volumeMounts:
            - name: script
              mountPath: "/script"
        securityContext:
          privileged: true
      {{- end }}
