name: For each commit and PR
on:
  push:
    branches:
      - "**"
    tags:
      - "v**"
  pull_request:

env:
  REGISTRY: ghcr.io
  IMAGE: ghcr.io/${{ github.repository }}
  CGO_ENABLED: 0
  GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout=10m

  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - uses: bufbuild/buf-action@v1
        with:
          lint: ${{ github.event_name == 'push' }}
          format: ${{ github.event_name == 'push' }}
          breaking: ${{ github.event_name == 'push' }}

      - name: Generate Protobuf code
        run: buf generate

  validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - uses: actions/cache@v4
        with:
          path: bin
          key: ${{ runner.os }}-tools-bin-${{ hashFiles('Makefile') }}
          restore-keys: |
            ${{ runner.os }}-tools-bin-

      - name: Generate UI assets
        run: make ui-generate

      - name: Run all CI checks, linting, tests, etc
        run: make ci TEST_ARGS="-count=1"

      - name: upload to codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  validate-helm-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: install helm
        uses: Azure/setup-helm@v4
        with:
          version: v3.17.0

      - name: Lint and Template Helm chart
        run: make helm-lint helm-template

  build-binaries:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: tinkerbell
            make-target: cross-compile
            artifact-name: tinkerbell-binaries
          - name: tink-agent
            make-target: cross-compile-agent
            artifact-name: tink-agent-binaries
          - name: tinkerbell-embedded-linux
            make-target: checksums-embedded
            artifact-name: tinkerbell-embedded-binaries
            extra-paths: out/checksums-embedded.txt
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "${{ env.GO_VERSION }}"
          cache: false

      - name: Restore Go cache
        uses: actions/cache/restore@v5
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          # always grab from the restore-keys pattern below,
          # like Linux-go-$hash-YYYY-MM-DD as saved by CI
          key: ${{ runner.os }}-go-${{ hashFiles('go.mod') }}

      - name: Fix no space errors and Fetch Deps
        run: |
          # fixes "write /run/user/1001/355792648: no space left on device" error
          sudo mount -o remount,size=3G /run/user/1001 || true
          go get -t ./... && go mod tidy && go mod download

      - name: Generate UI assets
        run: make ui-generate

      - name: Compile binaries for ${{ matrix.name }}
        run: make ${{ matrix.make-target }}

      - name: Upload binaries
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.artifact-name }}
          path: |
            out/${{ matrix.name }}-*
            ${{ matrix.extra-paths }}
          if-no-files-found: error

  build-publish-container-images:
    runs-on: ubuntu-latest
    if: |
      github.ref == 'refs/heads/main' ||
      startsWith(github.ref, 'refs/tags/v')
    needs:
      - lint
      - validation
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: ${{ startsWith(github.ref, 'refs/tags/v') && 'release --clean' || 'release --snapshot --clean' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/v') }}

  package-publish-helm-chart:
    runs-on: ubuntu-latest
    if: |
      github.ref == 'refs/heads/main' ||
      startsWith(github.ref, 'refs/tags/v')
    needs:
      - validate-helm-chart
      - build-publish-container-images
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: install helm
        uses: Azure/setup-helm@v4
        with:
          version: v3.17.0

      - name: Package and publish the Helm chart
        run: make helm-publish
